<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
</style>

.first {
    display: flex;
    font-family: Montserrat;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    aligh-items: flex-start;
    index-z: 1;

}

.head {
width: 100%;
height: 25%;
overflow: hide;
}

.igg {
    index-z: 0
    background-image: cosmos.png;
    width: 100%;
    height: 25%;
    overflow: hide;
}